@font-face {
    font-family: Inter;
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
.container {
    height: 520px;
    width: 350px;
}
.container ul {
    gap: 0.5rem;
    margin-top: 0.7rem;
}
.container h1 {
    font-size: 1.2rem;
}
.container h1 span {
    font-size: 0.75rem;
}
.container p {
    font-size: 0.8rem;
}
.container ul li button {
    font-size: 0.9rem;
}